*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-icon {
  width: 30px;
  height: 18px;
  position: relative;
  top: 5px;
  left: 5px;
  display: inline-block;
  cursor: pointer;
  z-index: 1300;
}

.menu-icon span,
.menu-icon::before,
.menu-icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #676565;
  transition: 0.3s all ease 0s;
}

.menu-icon::before {
  top: 0;
}
.menu-icon::after {
  bottom: 0;
}
.menu-icon span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

.menu-icon.iconActive span {
  top: 50%;
  transform: scale(0) translate(0px, -50%);
}
.menu-icon.iconActive::before {
  top: 50%;
  transform: rotate(45deg) translate(0px, -50%);
}
.menu-icon.iconActive::after {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
